.display-web {
    @media (max-width: 640px) {
        display: none;
    }
}

.display-mobile {
    @media (max-width: 640px) {
        
    }

    @media (min-width: 641px) {
        display: none;
    }
}

.container {
    max-width: 1300px;

    margin-left: auto;
    margin-right: auto;
}